*.class
*.jks
*.keystore
*.log
*.private
*.pyc
.gradle/
.pytest_cache/
.venv/
__pycache__/
build/
keys/
local.properties
platforms/android/app/src/main/assets/trust.json
platforms/android/app/src/main/jniLibs/**/*.so
runs/
target/
